$themeColor: #b2955d;
$mainColor: #b2955d;
$mainColorSelected: #8f7138;
$fireColor: #d85d3d;
$shadowBg: rgba(0, 0, 0, 0.5);
$sidebarHeight: 68px;
$sidebarBg: #ffffff;
$sidebarUnselected: #666666;
$bg: #f8f5ef;
